<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/security
     http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true">
<!-- 		<security:csrf disabled="true" /> -->
		<security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/register" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/save-student" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/delete-student/*" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/update/*" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/update-student/*" access="hasRole('ROLE_ADMIN')" />
		<security:form-login
			login-page="/login"
            default-target-url="/"
            login-processing-url="/user_login"
            authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password"
		/>
        <security:logout logout-success-url="/login?logout" logout-url="/logout"/>
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
    		<security:password-encoder hash="bcrypt"/>
			<security:user-service>
				<security:user name="admin" password="$2a$12$oK4yUBHTOeJdbze5ymGwaeHeb9LdU9.YhZIXWIxuERhXMm7Kx3KBi" authorities="ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>